@{
    ViewData["Title"] = "Конфиденциальность";
}
<h1>@ViewData["Title"]</h1>

<p>Тут должна быть политика конфиденциальности, но кому она вообще сдалась, вот лучше смешной мем.</p>
<img src="~/meme.jpg">